.doc-layout {
  display: flex;
  flex-direction: column;

  @at-root {
    &-has-sider {
      flex-direction: row;
    }

    &-header {
      position: sticky;
      top: 0;
      z-index: 120;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: var(--doc-navbar-height);
      padding: 0 24px;
      border-bottom: 1px solid var(--doc-border-color);
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        background-color: var(--doc-emphasis-bg);
        opacity: 0.8;
        pointer-events: none;
      }

      @at-root {
        .doc-brand {
          display: flex;
          align-items: center;
          color: var(--doc-emphasis-color);

          img {
            width: 32px;
            height: auto;
          }
          span {
            margin-left: 10px;
            font-size: 18px;
            font-weight: 600;
          }
        }

        .doc-topnav {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          height: 100%;
          list-style: none;

          @at-root {
            &-item {
              display: flex;
              height: 100%;
            }

            &-link {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              margin: 0;
              padding: 0 10px;
              color: inherit;
              text-decoration: none;
              &:hover {
                color: var(--doc-emphasis-color);
                text-decoration: none;
              }
              &.active {
                font-weight: 700;
                color: var(--doc-emphasis-color);
              }
            }

            &-divide {
              width: 1px;
              height: 40%;
              background: var(--doc-border-color);
              margin: 0 10px;
            }
          }
        }

        .doc-theme {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 0 10px;
          color: var(--doc-secondary-color);
          cursor: pointer;
        }
      }
    }

    @media (max-width: 768px) {
      &-header {
        padding: 0 15px;
      }
    }

    &-sider {
      position: sticky;
      left: 0;
      top: var(--doc-navbar-height);
      z-index: 110;
      box-sizing: border-box;
      width: var(--doc-sider-width);
      height: calc(100vh - var(--doc-navbar-height));
      flex: none;
      padding: 10px;
      overflow: auto;
      border-right: 1px solid var(--doc-border-color);
      background-color: var(--doc-emphasis-bg);
      transition: transform 300ms;
      transform: translateX(0);

      @at-root {
        .doc-sidenav {
          display: flex;
          flex-direction: column;

          @at-root {
            &-title {
              margin-top: 30px;
              margin-bottom: 10px;
              font-size: 16px;
              font-weight: 700;
              color: var(--doc-body-color);
            }
            &-link {
              position: relative;
              display: flex;
              align-items: center;
              padding: 5px 10px;
              margin: 5px 0 0;
              color: var(--doc-body-color);
              font-size: 14px;
              line-height: 1.5;
              white-space: nowrap;
              text-decoration: none;
              border-radius: var(--border-radius);

              &:hover {
                background-color: var(--doc-tertiary-bg);
              }
              &.active {
                font-weight: bold;
                color: var(--doc-emphasis-color);
                background-color: var(--doc-tertiary-bg);
              }
            }
            &-link-value {
              margin-left: 10px;
              font-size: 85%;
              color: var(--doc-gray-600);
            }
          }
        }
      }
    }

    &-main {
      min-height: 100vh;
    }

    &-content {
      flex: auto;
      width: 0;
    }

    &-footer {
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;
      color: var(--doc-gray-500);
    }

    &-sider-toggle {
      position: fixed;
      right: 20px;
      bottom: 40px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 50px;
      height: 40px;
      padding: 5px 0;
      border-radius: var(--border-radius);
      border: none;
      background-color: var(--doc-emphasis-bg);
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.125);
      cursor: pointer;

      span {
        display: block;
        flex: none;
        width: 60%;
        height: 1px;
        background-color: var(--doc-tertiary-color);
        transition: transform 300ms;
      }

      // &.show {
      //   span {
      //     &:nth-child(1),
      //     &:nth-child(3) {
      //       position: absolute;
      //     }
      //     &:nth-child(1) {
      //       transform: rotate(45deg);
      //     }
      //     &:nth-child(2) {
      //       display: none;
      //     }
      //     &:nth-child(3) {
      //       transform: rotate(-45deg);
      //     }
      //   }
      // }
    }

    @media (min-width: 769px) {
      &-sider-toggle {
        display: none;
      }
    }

    @media (max-width: 768px) {
      &-sider {
        position: fixed;
        transform: translateX(-100%);

        &.show {
          transform: translateX(0);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
        }
      }

      &-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        animation: fadeIn 300ms;
        &.show {
          display: block;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
