.doc-content {
  padding: 20px;

  h1 {
    margin: 0 0 30px;
    font-size: 32px;
    font-weight: normal;
  }

  h2 {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: normal;
  }

  h3 {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 700;
  }

  h1,
  h2,
  h3 {
    color: var(--doc-emphasis-color);
  }

  p {
    margin: 0 0 15px;
  }

  code:not([class*='language-']) {
    padding: 0 3px;
    font-size: 0.9em;
    word-wrap: break-word;
    color: var(--doc-emphasis-color);
    background: rgba(255, 229, 100, 0.2);
  }

  @at-root {
    .doc-card {
      padding: 20px;
      margin-bottom: 20px;
      border-radius: var(--border-radius-lg);
      background-color: var(--doc-emphasis-bg);

      > *:last-child {
        margin-bottom: 0;
      }
    }

    .doc-demo {
      margin-bottom: 15px;
    }

    .doc-anchor {
      padding: 0 5px;
      font-weight: 400;
      color: var(--doc-primary);
      text-decoration: none;
      opacity: 0;
      transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;

      &:focus,
      &:hover,
      :hover > &,
      :target > & {
        opacity: 1;
        color: var(--doc-primary);
        text-decoration: none;
      }
    }

    .doc-section {
      &:last-child {
        .doc-card:last-child {
          margin-bottom: 0;
        }
      }
    }

    .doc-table-responsive {
      overflow-x: auto;

      table {
        width: 100%;
        color: var(--doc-body-color);
        font-size: 14px;
        line-height: 1.5;
        border-collapse: collapse;

        th {
          padding: 8px 10px;
          font-weight: 600;
          text-align: left;
        }

        td {
          padding: 8px;
          border-top: 1px solid var(--doc-border-color);

          &:nth-child(1) {
            width: 15%;
            font-weight: 600;
          }

          &:nth-child(2) {
            width: 45%;
            min-width: 100px;
          }

          &:nth-child(3) {
            width: 25%;
            font-size: 0.9em;
            color: var(--doc-code-color);
            word-wrap: break-word;
          }

          &:nth-child(4) {
            width: 15%;
          }

          &:nth-child(1),
          &:nth-child(3),
          &:nth-child(4) {
            font-family: var(--doc-code-font-family);
          }
        }

        th,
        td {
          &:first-child {
            padding-left: 0;
          }
        }

        th,
        td {
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .doc-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .doc-card {
    padding-left: 15px;
    padding-right: 15px;
  }
}
