$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$doc-primary: #4694d1 !default;

:root {
  --doc-navbar-height: 60px;
  --doc-sider-width: 250px;
}

:root {
  --doc-white: #fff;
  --doc-gray-100: #{$gray-100};
  --doc-gray-200: #{$gray-200};
  --doc-gray-300: #{$gray-300};
  --doc-gray-400: #{$gray-400};
  --doc-gray-500: #{$gray-500};
  --doc-gray-600: #{$gray-600};
  --doc-gray-700: #{$gray-700};
  --doc-gray-800: #{$gray-800};
  --doc-gray-900: #{$gray-900};
  --doc-black: #000;

  --doc-primary: #4694d1;
  --doc-code-color: #d63384;
  --doc-code-font-family: source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;

  --border-radius-sm: 2px;
  --border-radius: 6px;
  --border-radius-lg: 12px;
}

:root {
  --doc-body-color: var(--doc-gray-900);
  --doc-body-bg: #{lighten(desaturate($doc-primary, 30%), 40%)};
  --doc-secondary-color: var(--doc-gray-700);
  --doc-secondary-bg: var(--doc-gray-200);
  --doc-tertiary-color: var(--doc-gray-600);
  --doc-tertiary-bg: var(--doc-gray-200);
  --doc-emphasis-color: var(--doc-black);
  --doc-emphasis-bg: var(--doc-white);
  --doc-border-color: var(--doc-gray-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    --doc-body-color: var(--doc-gray-200);
    --doc-body-bg: var(--doc-gray-900);
    --doc-secondary-color: var(--doc-gray-400);
    --doc-secondary-bg: var(--doc-gray-700);
    --doc-tertiary-color: var(--doc-gray-600);
    --doc-tertiary-bg: var(--doc-gray-900);
    --doc-emphasis-color: var(--doc-white);
    --doc-emphasis-bg: var(--doc-gray-800);
    --doc-border-color: var(--doc-gray-700);
  }
}
