$border-opacity: 0.3;
$bg-opacity: 0.15;

.doc-alert {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: var(--doc-rounded);
  border: 1px solid var(--doc-border-color);

  &-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-icon {
    margin-right: 5px;
  }

  &-success {
    border-color: rgba(var(--doc-green-rgb), $border-opacity);
    background-color: rgba(var(--doc-green-rgb), $bg-opacity);

    .doc-alert-title {
      color: var(--doc-green);
    }
  }

  &-danger {
    border-color: rgba(var(--doc-red-rgb), $border-opacity);
    background-color: rgba(var(--doc-red-rgb), $bg-opacity);

    .doc-alert-title {
      color: var(--doc-red);
    }
  }

  &-warning {
    border-color: rgba(var(--doc-yellow-rgb), $border-opacity);
    background-color: rgba(var(--doc-yellow-rgb), $bg-opacity);

    .doc-alert-title {
      color: var(--doc-yellow);
    }
  }

  &-info {
    border-color: rgba(var(--doc-cyan-rgb), $border-opacity);
    background-color: rgba(var(--doc-cyan-rgb), $bg-opacity);

    .doc-alert-title {
      color: var(--doc-cyan);
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
