:root {
  --doc-scrollbar-track-bg: var(--doc-gray-100);
  --doc-scrollbar-thumb-bg: var(--doc-gray-400);
  --doc-scrollbar-thumb-hover-bg: var(--doc-gray-500);
  --doc-scrollbar-thumb-active-bg: var(--doc-gray-600);
}

[data-doc-theme='dark'] {
  --doc-scrollbar-track-bg: var(--doc-gray-700);
  --doc-scrollbar-thumb-bg: var(--doc-gray-600);
  --doc-scrollbar-thumb-hover-bg: var(--doc-gray-500);
  --doc-scrollbar-thumb-active-bg: var(--doc-gray-400);
}

@media (any-pointer: fine) {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--doc-scrollbar-track-bg);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--doc-scrollbar-thumb-bg);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--doc-scrollbar-thumb-hover-bg);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: var(--doc-scrollbar-thumb-active-bg);
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  line-height: 1.5;
  color: var(--doc-body-color);
  background-color: var(--doc-body-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--doc-code-font-family);
}

a {
  color: var(--doc-primary);
}
