@import '../style/mixins.scss';

// #variables
page {
  --sar-cell-group-border-color: var(--sar-border-color);

  --sar-cell-group-header-gap-x: 16px;
  --sar-cell-group-header-gap-y: 8px;

  --sar-cell-group-title-font-size: var(--sar-text-xs);
  --sar-cell-group-title-line-height: var(--sar-leading-snug);
  --sar-cell-group-title-color: var(--sar-tertiary-color);

  --sar-cell-group-body-bg: var(--sar-emphasis-bg);

  --sar-cell-group-footer-gap-x: 16px;
  --sar-cell-group-footer-gap-y: 8px;

  --sar-cell-group-label-font-size: var(--sar-text-xs);
  --sar-cell-group-label-line-height: var(--sar-leading-snug);
  --sar-cell-group-label-color: var(--sar-tertiary-color);

  --sar-cell-group-margin-top: 15px;
}
// #endvariables

.sar-cell-group {
  display: flex;
  flex-direction: column;

  @at-root {
    .sar-cell-group-header {
      padding-right: var(--sar-cell-group-header-gap-x);
      padding-bottom: var(--sar-cell-group-header-gap-y);
      padding-left: var(--sar-cell-group-header-gap-x);

      @at-root {
        .sar-cell-group-title {
          font-size: var(--sar-cell-group-title-font-size);
          line-height: var(--sar-cell-group-title-line-height);
          color: var(--sar-cell-group-title-color);
        }
      }
    }
    .sar-cell-group-body {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: inherit;
      background-color: var(--sar-cell-group-body-bg);

      @include border-vertical(var(--sar-cell-group-border-color));
    }
    .sar-cell-group-footer {
      padding-top: var(--sar-cell-group-footer-gap-y);
      padding-right: var(--sar-cell-group-footer-gap-x);
      padding-left: var(--sar-cell-group-footer-gap-x);

      @at-root {
        .sar-cell-group-label {
          font-size: var(--sar-cell-group-label-font-size);
          line-height: var(--sar-cell-group-label-line-height);
          color: var(--sar-cell-group-label-color);
        }
      }
    }
  }
}

.sar-cell-group ~ .sar-cell-group {
  margin-top: var(--sar-cell-group-margin-top);
}

.sar-cell-group-inlaid {
  border-radius: inherit;

  .sar-cell-group-body {
    &::before,
    &::after {
      display: none;
    }
  }
}
