@font-face {
  font-family: 'sari'; /* Project id 2907887 */
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAA7UAAsAAAAAH4AAAA6DAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACIVgqoRKEFATYCJAOBHAtQAAQgBYQ3B4NRG6waM6M2lJPKhez/ksDJGCcdv1keXDA9qQeFOihiAWpe0RlKCtnz1qOhgpol4Wmi2Bbu07W/MNGJ+dlmKCU88Oue71zMA/klJ4hJYAUjmyK84Jvd+pUmAIbqyroTV+26EQFfqTFYuDfQQVHVt+qrJRqhZibG4Pe8TXXR2+0eloSHkfXbXnejyIlxkV8WTWsnEmvmoQRcZFnbpulfmx43/VeTUEtZSQKsQWtYQ0VZxfaFUrf06ERbJ3OoKUxMmJjTfpmo0oAAYwLz7+e/AwBOhoKgeOmgQ/y/udIyudo2xSkLQ8LUyUyyNJm/8I9zxCnvHqZE7ImPs1c6ZNe6SlRkRF+FrDthzkhfyKXr47CYiJxWOlQD23RX0wTzCKqDHx0IAnDRhl7IAYNGTMC3eMbqpaTQkLMFuJXF4gXzZuC4JqIFsQKHwxb3jRpxCAPkbvkSOGj+ePEf7YQDJIaCdGrM3IGzefz3ZH9VyALqE5vz2wL1S8AAFNCiZklyg7hArEfZrIXJXazxlBYjgB4U0GT+nnxvoCXaoQN64C5+/htlkmmWOYMbuVfN1FU7dESvzYrbuK93+qafm6/MN+ZXK6T0TSw9u8Teu4ecT9CD+vZa+rBFR/2HPHAQRmNgw04EFyXK5KiQpUiGAnlSpBH4iKKI4cFPEkmVIG7i1AjhJUEAJwgbqOgBEO+OWGNOmFTEYcINEIThn5aIBrQDYgA6ALEBegCxA+4CiQB+gsAF/0aREiABpAxIAskB0kAqgCwUADkgRUAeSAZQgAKgCAURlICkAGUo5AszgAjARiA+wF4QRKHRjEBBoytBDBo7CDzQOELgh8ZrgiSYFQIJZhuCKpi9CYJg9iFwg9mXIA7mToIamDcJQmA+R7yAV0ASgDdAAoCvWA8nAHX9NaOA0WBrCo5FkCzRBgsxjhbqq+INJFPgQucGy19xfeHC3VNQ6tc193q8MVfAT7RszB9NPtb2BkPJTCCCkTMSLkRy0WRWJGO5YEC5Xmcy7Ba2cyYyyZDXmwsE/PlMc2fM6c0GQ1GtGI0mraSeOPmYV8URDRR2Loa6BQVHzAxIiCNI05CVZb0zhQLOOztyPtz16xRzbMcPXfaIi7I7dkX3T2zZ7lTOwUIMaRYgvjIBhDYfllJNuGMcAYAK6e91Qw9CdSyOHi6s5+2orbElHMzAUhp0d2lNPkk2B+8y6ngcPrh3cqGLF75NY57o4X29OUCnsD8l+eqot8doCckphnTbyo8SUNO1OY2w4bgSh0SzHEEa6ZcXivb8MygiH5e1dODpXvQJKmRJU3MAi2kBSWnQdAW3d4tGMqv9pjM9q8TKBm0Ien6Vh7JZks/jQoGS7xEfZaJFOAR1naQV0wD55WCoePyhD6jhVBH5/FyxefGlyu3+9kod36D4AeE49AyUkLQ6EWfgRZQ9J0VxXCynwLPiuCONUy/SVI5Zz0BZBk61CL/yu5qIX34FF8N9jHGkxRgxHNHRGY0O63ZSPjyFvpOf+Bf94RyCtd94phRCx00Z6k+qsfHljJnN2ofNxno+2mkkXNnZYTQkhCBMi9Uxv123Y42W22k4jaP19bKw3mJTbUfYbKTDTJaoRWZjUt5ZfORfxDbNivO2IaNhCNaqkVS33dQFSLNsjvyWoMUmannTdQT2SiS2kxAvltQv0WJTUi2n0fyjPeA2EiNDWteI2mZNOla0gqorR4eJ9gqtlRtICEOMJNDadJ0PRyd01vWAqrF2Xk2jpik7XMgjVR1+abL7pDcvdjwhj6a0ts3Rv1I5zQxOO0lTUyzmk9BwOjJxmkLPSBpn6tvVptpYF6Sj5hT2HhDXlcJYNN2VlhLt4CRpJaTS7M3QpYFiCdvyaMm1mQoOGbRahp2mXP50+k28Ktz0AJAN935y5yAeR4fT5BlKXRTTNUFr6hFVb+YTON30ZK8c2OnOPbGI1kFzxD0tpkkzdh1OzaTEHl0xdHmSzaJczl2IbuTrS/zq27LMq0Yao5O0EkOUUfHsm7szmdS0M7Wyew+e1rMsva9bevV+hz+jTXn7Y/p0ei2+8QQMPfK7plaTR9fQ9bDbTbWzJ3ywRrScLHMMAcgzJUub2xcOQ7r7787ZKn5Chva7t2ASm1oWU3hzU7jX3KFTJDQLxwuQ5nLKpjXXDrx/rrBsu6AaA4XDn16pOA9IdgbzQXWHdfV3a8rGYT4l1vcC0sLy2WwBA6Rjeu0SYsnF71/qW1JEA2XbgjoG+Vkmji1aVVnx9sdOzWLe3LnhLU1KbYB7vU7hZrQIfJE7ZrEqsMmGiwlAuzHvyM71vjwQ8pjIL51bcFWu20F1C5Y5wl1M21pgu3DB9eT//m3d0bR9e9OO1n9LymeUlxggSWTLMjNl2cQVi+WSZXbHlTsnuda4tvcW65Xl4WQEuAf++EN1egQR44uxMUlbjvGyuRljxlwwROtXM53hfzc51W5swf8a6letvfjbOzUPV76+qG1ejp5yWPLFu2KwbgDCIaDaBuYrKry/LHHYUKnOaDhaNNeJOkI5gUeqwRcOCW3wCNyW4EBvjcPYMLhslBV6SDlopceD93EXZYW8MPB5dKFM6iELTh8ljvu/UKY6t6RHeT725aRUblODdIhOS3J1iDuaNp2Xa1EcMYQ0A4Kj2jNFi16Z8WW+HIrjuww/ifF5cvKe5F6W8viYgtVs1XoTj3USSUcpNB0B5hqqushV9dESzl0V8TFkUB9NFgry+B0d/DxB4ZV4en5eR0cev1BwhVFNYCYCs7ICScRykvb6YNphCEdwSKFnFy2BnhRsytufoqiJ/bKYswzhAA6yTKN248XsO5SwVkgVo3EoUG9KYYHISmzJqL52vB7BEd26tWI6i+lP+1wXugqEWCmyp4d9KGphss9nr6io/jZH3hJcNEff9rm1dq2+OhufM6ibM+cWeosCGrawVkkLzF84PYMCPYn8KKm8Zpe+a5olm/7y1bpJA6nz1g4qhqWaUc40Td/l1aWR3zXdxCQC7poMyKerW/za4JBvHt+SWuFQv6M2iOGeSS4K3fai3v8X/v/erVZcS820Z8OlsXzFxfU/vhG3+Y/B47zksfKAezXYHA31a4XVZF1eJhv6Xf2EGO6aiIBiJt5UuIDxJn1fbx26ZcCMwWwr6Djj5hbHb4lz3gQ7sGlxtCcuBI3tEPzp2WFnZ5HfwoTQ/MTQdj8R9AQSJ+alLgh2cBzvODn4aVleohhKf+xm2bjbWBt/qqkRbjIa60aN6uP82rjTaxp5avUplldjDVdd04hZXYlzoTTCxTbrEWlzibsCOB+wbkuBe/eu50/6p6DjsbL+4U80xJNBvwNJMSlUNsb3W9OgcUFx8vSgdGDppbavyIn2n4Q61c7LvZyBxruliW6J1NdOJmZm5SXRXTrjx01LPOW2eluJMbm4j4dZb2SkMJReNDu9LWGns7WjH3il35n/aUbBpPGav8X+kZ0t23E77YIFTAkhDZMSCtDyeq0W6oS0DIZxcktshvOU4khd/4RfOa8m3rqFzpnzSrmff2nt2lfC2+boiwJg1mElkW3ccXjpFCQsQxL0nphx+uJGU/+2bqp7W7+pcTGd9VCU8TqeoWLdtVgGrzNED3+56+8fiJudhJyhp7PjDtzXu4Njj+SYCJMLA9HNLzBl8eURz4qj2IvNwYst5P5XQ+HHF8aDbqUm8+VSyORHW06pXL1cPa2ZeXS2SR2KyGzosR+VtlNoDFcVaKFJTtaibqg2Odn6TAATh3AmlH5UQVQn1hARBeFRVy5Mis7ws4RwSEpzh5wZMuUMFukriY0IlijE68JHO3fhrNrwunBt+DxQ8/2IOSETXiKL5O7mB3ASMLhsPfyQ5nYqPieSY5HgluCaAKDJhx/ZRulRBea9dsUqu21DBU8z/5eJGs3IuchqyUgAJMPqTdZoxO4gYMooHaK7c1JaCsuCO4F73yi934FLfAjwJtxGrw4t8MytTOfOWr5nXnQOPBObi52QWURnwbM957denlWdzpnrvMA7sTfl8revoSluWPz6rZ3nx/TWY0Wj/mo1VvzYYolT7Ps+cp94W1UuG60vBdKMtdUT1QesqC1KHAuUkFfNuLVyc4F8Ir+97Hm8cq2cBtZS/6s+1qlt1KjNBxyKmiGZi22SykjUIi47fwicYZ8F/80g8qCHR8+0ylpaq74iS57ygUFoWQpxE+R8UQiJ8nMbAjYny79NWP1D8wq1SVxKQw/LXJYz5rCO/E0V0fpQRo5Q+9tm2lGtj2fnW3+av8dXB/ztWvzbgtkw5fg+ugLgQO5ISPWNwWQq8Klt7ZcWQl3/gtoZ9QgrpgXb9FvD+ynxNvPYubLYA09NJ9eZi6FJwEWPgD3TnBBf2gPh1so60z7TRZDYiQsKTc5XB5YEAzc1wYamreCiOR3f7ibMdBRCO4Eaq/4EgYPTgsTHZaZYgTeZRuBDwSDGI2ZD4GvBxSQ+05q0QLRf5Bm1YKXOT2WBonGtkjXbL6yvXrMjqa4/xNNSVIdWbbyrPzEiJ/GSb/VRxCjDFNRH2s6h96QS0wVBykYknfat57K8lECh9cqoRZ+xUp2fC1ugaNwla36t/4X11fstsJgZfwhuU1RVHSp7Efh+8ijcZkki7rf6mFDVKFVjCrb9o2wV/XEFqRK7rguClDUptHRqf9iXicvLNtjDwuBNo+2S73AEEoXGYHF4AhExCSkZuUKpUmu0Or3BaDJbrDa7w+lye7w+f0NPurKxHt/IXwMW19RLXj8noBmlqOgenSkejUzLsa0bGZ0Hf03jswaXkwacMwJxVYBl8Ngz1uP8cfUtND/I/9cU5dfQILjiIUfW2rdB19jLonmsyRGOUbo9p8lr6mNI8pzdNccay0Fc2cm3VRGP2/1fMYulGKFbPAoC0fVZ8prL36piQ0jImWLPaOuH+QqAOffBU8ZRXkqvFLd+sPGae0hM1ukpqXuUXsfwfpdsMMioGZpBpgmtFgAAAA==')
    format('woff2');
}

.sari {
  font-family: 'sari' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sari-loading:before {
  content: '\e861';
}

.sari-volume-up:before {
  content: '\ea24';
}

.sari-play:before {
  content: '\e92a';
}

.sari-caret-down:before {
  content: '\e72d';
}

.sari-caret-left:before {
  content: '\e732';
}

.sari-caret-right:before {
  content: '\e734';
}

.sari-caret-up:before {
  content: '\e73c';
}

.sari-backspace:before {
  content: '\e65c';
}

.sari-record-circle:before {
  content: '\eaf5';
}

.sari-file:before {
  content: '\e7f9';
}

.sari-x-circle-fill:before {
  content: '\ea40';
}

.sari-square:before {
  content: '\e986';
}

.sari-check-square-fill:before {
  content: '\eaca';
}

.sari-image:before {
  content: '\e87f';
}

.sari-star:before {
  content: '\e992';
}

.sari-star-fill:before {
  content: '\ead6';
}

.sari-x-circle:before {
  content: '\ea3f';
}

.sari-circle-fill:before {
  content: '\eaaf';
}

.sari-empty:before {
  content: '\e6a6';
}

.sari-warning-fill:before {
  content: '\e7b3';
}

.sari-info-circle-fill:before {
  content: '\e88b';
}

.sari-question-circle-fill:before {
  content: '\e939';
}

.sari-x-octagon-fill:before {
  content: '\ea41';
}

.sari-check-circle-fill:before {
  content: '\eacd';
}

.sari-person:before {
  content: '\e9d5';
}

.sari-fail:before {
  content: '\e822';
}

.sari-success:before {
  content: '\e823';
}

.sari-close:before {
  content: '\e81f';
}

.sari-question:before {
  content: '\e81d';
}

.sari-info:before {
  content: '\e819';
}

.sari-minus:before {
  content: '\e821';
}

.sari-plus:before {
  content: '\e820';
}

.sari-up:before {
  content: '\e81e';
}

.sari-down:before {
  content: '\e815';
}

.sari-left:before {
  content: '\e818';
}

.sari-right:before {
  content: '\e81b';
}

.sari-search:before {
  content: '\ea30';
}

.sari-circle:before {
  content: '\ea87';
}
