# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

package-lock.json
pnpm-lock.yaml
.DS_Store
dist
*.local

node_modules/
dist/
docs/
uni_modules/

# eslint
.eslintcache

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

pages.d.ts

__snapshots__