.doc-mobile {
  position: sticky;
  top: calc(var(--doc-navbar-height) + 15px);
  width: 375px;
  height: 667px;
  border: 1px solid var(--doc-border-color);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}

.doc-mobile-iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .doc-catalog {
    display: none;
  }
  .doc-mobile {
    margin-right: 20px;
  }
}

@media (max-width: 980px) {
  .doc-mobile {
    display: none;
  }
}
