// #variables
page {
  --sar-checkbox-group-column-gap: 24rpx;
  --sar-checkbox-group-row-gap: 16rpx;

  --sar-checkbox-icon-font-size: 40rpx;
  --sar-checkbox-icon-color: var(--sar-quaternary-color);
  --sar-checkbox-icon-checked-color: var(--sar-primary);
  --sar-checkbox-icon-transition-duration: var(--sar-duration);

  --sar-checkbox-label-margin-left: 16rpx;
}
// #endvariables
