// # 灰度值
$sar-white: #fff !default;
$sar-gray-100: #f8f9fa !default;
$sar-gray-200: #e9ecef !default;
$sar-gray-300: #dee2e6 !default;
$sar-gray-400: #ced4da !default;
$sar-gray-500: #adb5bd !default;
$sar-gray-600: #6c757d !default;
$sar-gray-700: #495057 !default;
$sar-gray-800: #343a40 !default;
$sar-gray-900: #212529 !default;
$sar-black: #000 !default;

// # 颜色
$sar-blue: #0d6efd !default;
$sar-indigo: #6610f2 !default;
$sar-purple: #6f42c1 !default;
$sar-pink: #d63384 !default;
$sar-red: #dc3545 !default;
$sar-orange: #fd7e14 !default;
$sar-yellow: #ffc107 !default;
$sar-green: #198754 !default;
$sar-teal: #20c997 !default;
$sar-cyan: #0dcaf0 !default;

// # 主题色
$sar-primary: $sar-blue !default;
$sar-secondary: $sar-gray-600 !default;
$sar-success: $sar-green !default;
$sar-info: $sar-cyan !default;
$sar-warning: $sar-yellow !default;
$sar-danger: $sar-red !default;
$sar-light: $sar-gray-100 !default;
$sar-dark: $sar-gray-900 !default;

// # 主题色列表
$sar-theme-colors: (
  primary: (
    var(--sar-primary),
    var(--sar-primary-rgb),
  ),
  success: (
    var(--sar-success),
    var(--sar-success-rgb),
  ),
  info: (
    var(--sar-info),
    var(--sar-info-rgb),
  ),
  warning: (
    var(--sar-warning),
    var(--sar-warning-rgb),
  ),
  danger: (
    var(--sar-danger),
    var(--sar-danger-rgb),
  ),
) !default;
