:root {
  --doc-code-bg: rgba(var(--doc-gray-200-rgb), 0.8);
}

[data-doc-theme='dark'] {
  --doc-code-bg: var(--doc-secondary-bg);
}

.doc-content {
  box-sizing: border-box;
  max-width: 920px;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    margin: 24px 0 32px;
    font-size: var(--doc-text-2xl);
    font-weight: bold;

    sup {
      margin-left: 4px;
      padding: 2px 6px;
      font-size: var(--doc-text-sm);
      line-height: 1.2;
      color: var(--doc-white);
      border-radius: var(--doc-rounded);
      background-color: var(--doc-primary);
    }
  }

  h2 {
    margin: 40px 0 24px;
    font-size: var(--doc-text-xl);
    font-weight: bold;
  }

  h3 {
    margin: 32px 0 16px;
    font-size: var(--doc-text-lg);
    font-weight: bold;
  }

  h4 {
    margin: 24px 0 16px;
    font-size: 18px;
    font-weight: bold;
  }

  h1,
  h2,
  h3 {
    color: var(--doc-emphasis-color);
  }

  p {
    margin: 0 0 16px;
  }

  code:not([class*='language-']) {
    padding: 2px 5px;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    color: var(--doc-emphasis-color);
    background: var(--doc-code-bg);
    border-radius: var(--doc-rounded);
  }

  a {
    &:hover {
      text-decoration: underline;
    }

    code {
      color: var(--doc-primary) !important;
    }
  }

  @media (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.doc-demo {
  margin-bottom: 16px;
}

.doc-anchor {
  padding: 0 4px;
  font-weight: 400;
  color: var(--doc-primary);
  text-decoration: none;
  opacity: 0;
  transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;

  &:focus,
  &:hover,
  :hover > &,
  :target > & {
    opacity: 1;
    color: var(--doc-primary);
    text-decoration: none;
  }
}

.doc-code-wrapper {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--doc-border-color);
  border-radius: var(--doc-rounded-lg);

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  code,
  pre {
    color: var(--doc-white);
    border-radius: inherit;
  }

  pre {
    max-height: 580px;
    margin: 0;
    overflow: auto;
  }

  code {
    font-size: var(--doc-text-sm);
  }
}

.doc-table-responsive {
  margin-bottom: 64px;
  overflow-x: auto;

  table {
    width: 100%;
    color: var(--doc-body-color);
    font-size: var(--doc-text-sm);
    line-height: 1.5;
    border-collapse: collapse;

    th {
      padding: 8px;
      font-weight: 600;
      text-align: left;
    }

    td {
      padding: 8px;
      border-top: 1px solid var(--doc-border-color);

      &:nth-child(1) {
        width: 17%;
        font-weight: 600;
      }

      &:nth-child(2) {
        width: 40%;
        min-width: 100px;
      }

      &:nth-child(3) {
        width: 27%;
        font-size: small;
        color: var(--doc-danger);
        word-wrap: break-word;
      }

      &:nth-child(4) {
        width: 16%;
      }

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(4) {
        font-family: var(--doc-font-monospace);
      }
    }

    th,
    td {
      &:first-child {
        padding-left: 0;
      }
    }

    th,
    td {
      &:last-child {
        padding-right: 0;
      }
    }
  }

  sup {
    display: inline-block;
    padding: 2px 4px;
    font-size: var(--doc-text-xs);
    font-family: var(--doc-font-sans-serif);
    line-height: 1.2;
    font-weight: 500;
    color: var(--doc-primary);
    border-radius: var(--doc-rounded-xs);
    background-color: rgba(var(--doc-primary-rgb), 0.1);
    transform: translateY(4px);
  }
}
