@mixin button-active {
  &:not([disabled]):not(.s-button-disabled):not(.s-button-loading):active {
    @content;
  }
}

@mixin button-size(
  $height,
  $padding-y,
  $padding-x,
  $border-radius,
  $font-size
) {
  height: $height;
  padding: $padding-y $padding-x;
  border-radius: $border-radius;
  font-size: $font-size;
}

@mixin button-flush {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}
