@mixin disabled {
  opacity: var(--s-disabled-opacity);
  cursor: var(--s-disabled-cursor);
  filter: var(--s-disabled-filter);
}

@mixin disabled-text {
  color: var(--s-disabled-color);
  cursor: var(--s-disabled-cursor);
}
