@use 'sass:math';
@import '../functions.scss';

@mixin make-col($columns: 12) {
  @for $col from 1 through $columns {
    .s-col-#{$col} {
      $width: tofixed(100% * math.div($col, $columns), 4);
      width: $width;
      max-width: $width;
    }
  }
}

@mixin make-offset($columns: 12) {
  @for $col from 0 through $columns {
    .s-col-offset-#{$col} {
      $offset: tofixed(100% * math.div($col, $columns), 4);
      margin-left: $offset;
    }
  }
}
