@import '../style/mixins.scss';

// #variables
:root {
  --sar-calendar-header-box-shadow: var(--sar-shadow-lg);
  --sar-calendar-title-font-size: var(--sar-text-base);
  --sar-calendar-title-line-height: var(--sar-leading-normal);
  --sar-calendar-week-item-height: 36px;
  --sar-calendar-week-item-font-size: var(--sar-text-base);

  --sar-calendar-month-title-height: 40px;
  --sar-calendar-month-title-font-size: var(--sar-text-base);
  --sar-calendar-month-title-font-weight: bold;
  --sar-calendar-month-title-color: var(--sar-emphasis-color);
  --sar-calendar-month-body-row-gap: 4px;

  --sar-calendar-day-height: 56px;
  --sar-calendar-day-font-size: var(--sar-text-base);
  --sar-calendar-day-active-bg: var(--sar-bg-active);
  --sar-calendar-day-selected-border-radius: var(--sar-rounded);
  --sar-calendar-day-selected-color: var(--sar-white);
  --sar-calendar-day-selected-bg: var(--sar-primary);
  --sar-calendar-day-middle-opacity: 0.125;
  --sar-calendar-day-today-color: var(--sar-primary);

  --sar-calendar-info-font-size: var(--sar-text-xs);
  --sar-calendar-info-line-height: var(--sar-leading-tight);
  --sar-calendar-topinfo-top: 4px;
  --sar-calendar-bottominfo-bottom: 4px;

  --sar-calendar-mark-font-size: 160px;
  --sar-calendar-mark-color: var(--sar-deemphasis-color);
  --sar-calendar-mark-opacity: 0.2;

  --sar-calendar-body-height: calc(
    var(--sar-calendar-day-height) * 4 + var(--sar-calendar-month-body-row-gap) *
      4 + var(--sar-calendar-month-title-height)
  );
}
// #endvariables

.sar-calendar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sar-calendar-header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: none;
  box-shadow: var(--sar-calendar-header-box-shadow);

  @at-root {
    .sar-calendar-title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: var(--sar-calendar-title-font-size);
      line-height: var(--sar-calendar-title-line-height);
    }

    .sar-calendar-week {
      display: flex;
      flex-direction: row;

      @at-root {
        .sar-calendar-week-item {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          height: var(--sar-calendar-week-item-height);
          font-size: var(--sar-calendar-week-item-font-size);
        }
      }
    }
  }
}

.sar-calendar-body {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex: none;
  height: var(--sar-calendar-body-height);
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.sar-calendar-month {
  display: flex;
  flex-direction: column;

  @at-root {
    .sar-calendar-month-title {
      display: flex;
      height: var(--sar-calendar-month-title-height);
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: var(--sar-calendar-month-title-font-size);
      font-weight: var(--sar-calendar-month-title-font-weight);
      color: var(--sar-calendar-month-title-color);
    }
    .sar-calendar-month-body {
      position: relative;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-row-gap: var(--sar-calendar-month-body-row-gap);
      grid-column-gap: 0;

      @at-root {
        .sar-calendar-day {
          position: relative;
          z-index: 1;
          display: flex;
          flex-direction: column;
          height: var(--sar-calendar-day-height);
          justify-content: center;
          align-items: center;
          font-size: var(--sar-calendar-day-font-size);
          cursor: pointer;
          transition: var(--sar-transition-duration-fast);

          &.sar-calendar-day-today {
            color: var(--sar-calendar-day-today-color);
          }

          &.sar-calendar-day-disabled {
            @include disabled-text;
          }
          &:not(.sar-calendar-day-disabled):not(
              .sar-calendar-day-selected
            ):active {
            border-radius: var(--sar-calendar-day-selected-border-radius);
            background-color: var(--sar-calendar-day-active-bg);
          }

          &.sar-calendar-day-selected {
            border-radius: var(--sar-calendar-day-selected-border-radius);
            color: var(--sar-calendar-day-selected-color);
            background-color: var(--sar-calendar-day-selected-bg);

            &.sar-calendar-day-next-selected,
            &.sar-calendar-day-start:not(.sar-calendar-day-end) {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            & + .sar-calendar-day-selected,
            &.sar-calendar-day-end:not(.sar-calendar-day-start) {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
          &.sar-calendar-day-middle {
            color: var(--sar-primary);
            &::after {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              content: '';
              opacity: var(--sar-calendar-day-middle-opacity);
              background-color: currentColor;
              pointer-events: none;
            }
          }

          @at-root {
            .sar-calendar-topinfo,
            .sar-calendar-bottominfo {
              position: absolute;
              left: 0;
              right: 0;
              text-align: center;
              font-size: var(--sar-calendar-info-font-size);
              line-height: var(--sar-calendar-info-line-height);
            }

            .sar-calendar-topinfo {
              top: var(--sar-calendar-topinfo-top);
            }

            .sar-calendar-bottominfo {
              bottom: var(--sar-calendar-bottominfo-bottom);
            }
          }
        }
        .sar-calendar-mark {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 0;
          font-size: var(--sar-calendar-mark-font-size);
          color: var(--sar-calendar-mark-color);
          opacity: var(--sar-calendar-mark-opacity);
          pointer-events: none;
        }
      }
    }
  }
}
