// #region variables
page,
.sar-portal {
  --sar-select-max-height: 640rpx;
  --sar-select-bg: var(--sar-emphasis-bg);

  --sar-select-search-padding-x: 32rpx;
  --sar-select-search-padding-y: 20rpx;

  --sar-select-option-padding-x: 32rpx;
  --sar-select-option-padding-y: 20rpx;
  --sar-select-option-active-bg: var(--sar-active-bg);
  --sar-select-option-disabled-opacity: var(--sar-disabled-opacity);
  --sar-select-option-selected-color: var(--sar-primary);

  --sar-select-option-label-font-size: var(--sar-text-base);
  --sar-select-option-label-line-height: var(--sar-leading-normal);

  --sar-select-option-group-label-padding-x: 32rpx;
  --sar-select-option-group-label-padding-y: 16rpx;
  --sar-select-option-group-label-font-size: var(--sar-text-sm);
  --sar-select-option-group-label-line-height: var(--sar-leading-snug);
  --sar-select-option-group-label-color: var(--sar-tertiary-color);
  --sar-select-option-group-label-bg: var(--sar-body-bg);

  --sar-select-toolbar-padding-x: 32rpx;
  --sar-select-toolbar-padding-y: 0;

  --sar-select-empty-margin-top: 32rpx;
}
// #endregion variables
