// #variables
page {
  --sar-indexes-anchor-padding: 0 32rpx;
  --sar-indexes-anchor-font-size: var(--sar-text-base);
  --sar-indexes-anchor-line-height: 64rpx;
  --sar-indexes-anchor-color: var(--sar-tertiary-color);
  --sar-indexes-anchor-bg: var(--sar-body-bg);

  --sar-indexes-nav-padding-right: 8rpx;

  --sar-indexes-nav-item-font-size: 24rpx;
  --sar-indexes-nav-item-size: 40rpx;
  --sar-indexes-nav-item-color: var(--sar-body-color);
  --sar-indexes-nav-item-active-color: var(--sar-white);
  --sar-indexes-nav-item-active-bg: var(--sar-primary);

  --sar-indexes-hint-size: 100rpx;
  --sar-indexes-hint-margin-right: 8rpx;
  --sar-indexes-hint-bg: var(--sar-mask);
  --sar-indexes-hint-duration: var(--sar-duration);

  --sar-indexes-hint-text-font-size: 48rpx;
  --sar-indexes-hint-text-color: var(--sar-white);
}
// #endvariables
