// #variables
page {
  --sar-pull-down-refresh-header-font-size: var(--sar-text-sm);
  --sar-pull-down-refresh-header-color: var(--sar-tertiary-color);

  --sar-pull-down-refresh-loading-font-size: 36rpx;
}
// #endvariables
