@use 'sass:color';

@function extractRGB($color) {
  @return '#{color.red($color)},#{color.green($color)},#{color.blue($color)}';
}

$doc-white: #fff !default;
$doc-gray-100: #f8f9fa !default;
$doc-gray-200: #ecedee !default;
$doc-gray-300: #e2e3e4 !default;
$doc-gray-400: #d1d4d6 !default;
$doc-gray-500: #b5b9bd !default;
$doc-gray-600: #74787c !default;
$doc-gray-700: #505457 !default;
$doc-gray-800: #393c3f !default;
$doc-gray-900: #242628 !default;
$doc-black: #000 !default;

$doc-blue: #0d6efd !default;
$doc-indigo: #6610f2 !default;
$doc-purple: #6f42c1 !default;
$doc-pink: #d63384 !default;
$doc-red: #dc3545 !default;
$doc-orange: #fd7e14 !default;
$doc-yellow: #ffc107 !default;
$doc-green: #198754 !default;
$doc-teal: #20c997 !default;
$doc-cyan: #0dcaf0 !default;

:root {
  --doc-navbar-height: 60px;
  --doc-sider-width: 280px;

  --doc-mobile-width: 375px;
  --doc-mobile-height: 667px;

  // # 灰度值
  --doc-white: #fff;
  --doc-gray-100: #f8f9fa;
  --doc-gray-200: #e9ecef;
  --doc-gray-300: #dee2e6;
  --doc-gray-400: #ced4da;
  --doc-gray-500: #adb5bd;
  --doc-gray-600: #6c757d;
  --doc-gray-700: #495057;
  --doc-gray-800: #343a40;
  --doc-gray-900: #212529;
  --doc-black: #000;

  // # 灰度值 rgb
  --doc-white-rgb: #{extractRGB($doc-white)};
  --doc-gray-100-rgb: #{extractRGB($doc-gray-100)};
  --doc-gray-200-rgb: #{extractRGB($doc-gray-200)};
  --doc-gray-300-rgb: #{extractRGB($doc-gray-300)};
  --doc-gray-400-rgb: #{extractRGB($doc-gray-400)};
  --doc-gray-500-rgb: #{extractRGB($doc-gray-500)};
  --doc-gray-600-rgb: #{extractRGB($doc-gray-600)};
  --doc-gray-700-rgb: #{extractRGB($doc-gray-700)};
  --doc-gray-800-rgb: #{extractRGB($doc-gray-800)};
  --doc-gray-900-rgb: #{extractRGB($doc-gray-900)};
  --doc-black-rgb: #{extractRGB($doc-black)};

  // # 基础颜色
  --doc-blue: #{$doc-blue};
  --doc-indigo: #{$doc-indigo};
  --doc-purple: #{$doc-purple};
  --doc-pink: #{$doc-pink};
  --doc-red: #{$doc-red};
  --doc-orange: #{$doc-orange};
  --doc-yellow: #{$doc-yellow};
  --doc-green: #{$doc-green};
  --doc-teal: #{$doc-teal};
  --doc-cyan: #{$doc-cyan};

  // # 基础颜色 rgb
  --doc-blue-rgb: #{extractRGB($doc-blue)};
  --doc-indigo-rgb: #{extractRGB($doc-indigo)};
  --doc-purple-rgb: #{extractRGB($doc-purple)};
  --doc-pink-rgb: #{extractRGB($doc-pink)};
  --doc-red-rgb: #{extractRGB($doc-red)};
  --doc-orange-rgb: #{extractRGB($doc-orange)};
  --doc-yellow-rgb: #{extractRGB($doc-yellow)};
  --doc-green-rgb: #{extractRGB($doc-green)};
  --doc-teal-rgb: #{extractRGB($doc-teal)};
  --doc-cyan-rgb: #{extractRGB($doc-cyan)};

  // # 主题色
  --doc-primary: var(--doc-blue);
  --doc-secondary: var(--doc-gray-600);
  --doc-success: var(--doc-green);
  --doc-info: var(--doc-cyan);
  --doc-warning: var(--doc-yellow);
  --doc-danger: var(--doc-red);

  // # 主题色 rgb
  --doc-primary-rgb: var(--doc-blue-rgb);
  --doc-secondary-rgb: var(--doc-gray-600-rgb);
  --doc-success-rgb: var(--doc-green-rgb);
  --doc-info-rgb: var(--doc-cyan-rgb);
  --doc-warning-rgb: var(--doc-yellow-rgb);
  --doc-danger-rgb: var(--doc-red-rgb);

  // 字体
  --doc-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace, monospace;
  --doc-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji',
    monospace;

  // # 字号
  --doc-text-xs: 12px;
  --doc-text-sm: 14px;
  --doc-text-base: 16px;
  --doc-text-lg: 20px;
  --doc-text-xl: 28px;
  --doc-text-2xl: 40px;

  // 阴影
  --doc-shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --doc-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --doc-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --doc-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --doc-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  // 圆角
  --doc-rounded-xs: 2px;
  --doc-rounded-sm: 4px;
  --doc-rounded: 6px;
  --doc-rounded-lg: 10px;
  --doc-rounded-xl: 14px;
  --doc-rounded-full: 9999px;

  --doc-body-color: var(--doc-gray-900);
  --doc-body-bg: var(--doc-gray-white);
  --doc-secondary-color: var(--doc-gray-700);
  --doc-secondary-bg: var(--doc-gray-200);
  --doc-tertiary-color: var(--doc-gray-600);
  --doc-tertiary-bg: var(--doc-gray-300);
  --doc-emphasis-color: var(--doc-black);
  --doc-emphasis-bg: var(--doc-white);
  --doc-border-color: var(--doc-gray-300);
  --doc-hover-bg: var(--doc-gray-200);
}

[data-doc-theme='dark'] {
  --doc-body-color: var(--doc-gray-100);
  --doc-body-bg: var(--doc-black);
  --doc-secondary-color: var(--doc-gray-300);
  --doc-secondary-bg: var(--doc-gray-700);
  --doc-tertiary-color: var(--doc-gray-500);
  --doc-tertiary-bg: var(--doc-gray-700);
  --doc-quaternary-color: var(--doc-gray-600);
  --doc-quaternary-bg: var(--doc-gray-700);
  --doc-emphasis-color: var(--doc-white);
  --doc-emphasis-bg: var(--doc-gray-900);
  --doc-border-color: var(--doc-gray-700);
  --doc-active-bg: var(--doc-gray-700);
  --doc-active-deep-bg: var(--doc-gray-600);
}
