$vertical-gap: 3px !default;
$indent-gap: 15px !default;

.doc-catalog {
  position: sticky;
  min-width: 162px;
  top: var(--doc-navbar-height);
  height: calc(100vh - var(--doc-navbar-height));
  overflow-y: auto;
  padding: 0 20px;

  ul {
    margin-bottom: 0;
    margin-top: 25px;
    padding-left: 0;
    list-style: none;
    font-size: 14px;

    ul {
      margin-top: $vertical-gap;
      padding-left: $indent-gap;
    }
  }

  li {
    margin-bottom: $vertical-gap;
    &[data-level='1'] {
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid var(--doc-border-color);
      font-size: 16px;
    }
    &[data-level='2'] {
      ~ [data-level='3'] {
        padding-left: 15px;
      }
    }
  }

  a {
    color: var(--doc-tertiary-color);
    text-decoration: none;

    &:hover {
      color: var(--doc-emphasis-color);
      text-decoration: underline;
    }
  }
}

@media (max-width: 992px) {
  .doc-catalog {
    display: none;
  }
}
