@import '../style/vars.scss';

// #variables
$doc-transition-duration: 300ms !default;
$doc-transition-timing-function: ease-out !default;
// #endvariables

// fade
.#{$prefix}-transition-fade-enter {
  animation: doc-transition-fade-enter $doc-transition-duration
    $doc-transition-timing-function;
}
@keyframes doc-transition-fade-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.#{$prefix}-transition-fade-exiting,
.#{$prefix}-transition-fade-exited {
  animation: doc-transition-fade-exiting $doc-transition-duration
    $doc-transition-timing-function both;
}
@keyframes doc-transition-fade-exiting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// zoom
.#{$prefix}-transition-zoom-enter {
  animation: doc-transition-zoom-enter $doc-transition-duration
    $doc-transition-timing-function;
}
@keyframes doc-transition-zoom-enter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.#{$prefix}-transition-zoom-exiting,
.#{$prefix}-transition-zoom-exited {
  animation: doc-transition-zoom-exiting $doc-transition-duration
    $doc-transition-timing-function both;
}
@keyframes doc-transition-zoom-exiting {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

// slideTop
.#{$prefix}-transition-slide-top-enter {
  animation: doc-transition-slide-top-enter $doc-transition-duration
    $doc-transition-timing-function;
}
@keyframes doc-transition-slide-top-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.#{$prefix}-transition-slide-top-exiting,
.#{$prefix}-transition-slide-top-exited {
  animation: doc-transition-slide-top-exiting $doc-transition-duration
    $doc-transition-timing-function both;
}
@keyframes doc-transition-slide-top-exiting {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}

// slideRight
.#{$prefix}-transition-slide-right-enter {
  animation: doc-transition-slide-right-enter $doc-transition-duration
    $doc-transition-timing-function;
}
@keyframes doc-transition-slide-right-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.#{$prefix}-transition-slide-right-exiting,
.#{$prefix}-transition-slide-right-exited {
  animation: doc-transition-slide-right-exiting $doc-transition-duration
    $doc-transition-timing-function both;
}
@keyframes doc-transition-slide-right-exiting {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}

// slideBottom
.#{$prefix}-transition-slide-bottom-enter {
  animation: doc-transition-slide-bottom-enter $doc-transition-duration
    $doc-transition-timing-function;
}
@keyframes doc-transition-slide-bottom-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.#{$prefix}-transition-slide-bottom-exiting,
.#{$prefix}-transition-slide-bottom-exited {
  animation: doc-transition-slide-bottom-exiting $doc-transition-duration
    $doc-transition-timing-function both;
}
@keyframes doc-transition-slide-bottom-exiting {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}

// slideLeft
.#{$prefix}-transition-slide-left-enter {
  animation: doc-transition-slide-left-enter $doc-transition-duration
    $doc-transition-timing-function;
}
@keyframes doc-transition-slide-left-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.#{$prefix}-transition-slide-left-exiting,
.#{$prefix}-transition-slide-left-exited {
  animation: doc-transition-slide-left-exiting $doc-transition-duration
    $doc-transition-timing-function both;
}
@keyframes doc-transition-slide-left-exiting {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

// collapse
.#{$prefix}-transition-collapse-entering {
  animation: doc-transition-collapse-entering $doc-transition-duration
    $doc-transition-timing-function;
}
@keyframes doc-transition-collapse-entering {
  from {
    height: 0;
  }
}

.#{$prefix}-transition-collapse-exiting,
.#{$prefix}-transition-collapse-exited {
  animation: doc-transition-collapse-exiting $doc-transition-duration
    $doc-transition-timing-function both;
}
@keyframes doc-transition-collapse-exiting {
  to {
    height: 0;
  }
}
