@use '../style/base' as *;

@include bem(result) {
  @include b() {
    @include universal;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @include e(icon) {
    @include universal;
    font-size: var(--sar-result-icon-font-size);
    line-height: var(--sar-result-icon-line-height);
    text-align: center;

    @include m(success) {
      color: var(--sar-result-success-color);
    }

    @include m(info) {
      color: var(--sar-result-info-color);
    }

    @include m(warning) {
      color: var(--sar-result-warning-color);
    }

    @include m(error) {
      color: var(--sar-result-error-color);
    }

    @include m(question) {
      color: var(--sar-result-question-color);
    }
  }

  @include e(title) {
    @include universal;
    margin-top: var(--sar-result-title-margin-top);
    font-size: var(--sar-result-title-font-size);

    text-align: center;
  }

  @include e(description) {
    @include universal;
    margin-top: var(--sar-result-description-margin-top);
    font-size: var(--sar-result-description-font-size);
    color: var(--sar-result-description-color);
    text-align: center;
  }

  @include e(extra) {
    @include universal;
    margin-top: var(--sar-result-extra-margin-top);
  }
}
