@font-face {
  font-family: 'sari'; /* Project id 2907887 */
  src: url('data:font/ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwR1NVQiCLJXoAAAE4AAAAVE9TLzI8JE3FAAABjAAAAGBjbWFwY29UvQAAAogAAAReZ2x5ZuXuOf0AAAc4AAAUSGhlYWQmbWpZAAAA4AAAADZoaGVhB9YDpAAAALwAAAAkaG10eJwO/+IAAAHsAAAAnGxvY2FZYl6sAAAG6AAAAFBtYXhwATYAcgAAARgAAAAgbmFtZQmNGMcAABuAAAACN3Bvc3RUy1TTAAAduAAAAdEAAQAAA4D/gABcBAD/8//8BAQAAQAAAAAAAAAAAAAAAAAAACcAAQAAAAEAAAujbq1fDzz1AAsEAAAAAADhq5MoAAAAAOGrkyj/8/9/BAQDjQAAAAgAAgAAAAAAAAABAAAAJwBmAAUAAAAAAAIAAAAKAAoAAAD/AAAAAAAAAAEAAAAKADAAPgACREZMVAAObGF0bgAaAAQAAAAAAAAAAQAAAAQAAAAAAAAAAQAAAAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAQEAAGQAAUAAAKJAswAAACPAokCzAAAAesAMgEIAAACAAUDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBmRWQAwOYO6vUDgP+AAAAD3ACBAAAAAQAAAAAAAAAAAAAAAAACBAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAP//BAAAAAQA//8EAP//BAD//wQAAAAEAP//BAD//wQA//8EAP//BAAAAAQA//wEAP//BAD//wQAAAAEAP//BAAAAAQAAAAEAP//BAAAAAQAAAAEAAAABAAAAAQA//MEAP//AAAABQAAAAMAAAAsAAAABAAAAoYAAQAAAAABgAADAAEAAAAsAAMACgAAAoYABAFUAAAAPgAgAAQAHuYR5lzmpuct5zLnNOc857Pn+egZ6B3oI+gl6GHof+iL6SrpOemG6ZLp1eok6jDqQeqH6q/qyurN6tbq9f//AADmDuZc5qbnLecy5zTnPOez5/noGegd6CDoJehh6H/oi+kq6TnphumS6dXqJOow6j/qh+qv6srqzerW6vX//wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAD4ARABEAEQARABEAEQARABEAEQARABEAEoASgBKAEoASgBKAEoASgBKAEoASgBKAE4ATgBOAE4ATgBOAAAAAQACAAMABAANABgACQAKAAsADAAZAA8AIgAhACQAIwAfACAABQAGABMAGgAIABsAEQAUAB4ABwAlABYAEAAcACYAFwASAB0AFQAOAAABBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAHYAAAAAAAAACYAAOYOAADmDgAAAAEAAOYPAADmDwAAAAIAAOYQAADmEAAAAAMAAOYRAADmEQAAAAQAAOZcAADmXAAAAA0AAOamAADmpgAAABgAAOctAADnLQAAAAkAAOcyAADnMgAAAAoAAOc0AADnNAAAAAsAAOc8AADnPAAAAAwAAOezAADnswAAABkAAOf5AADn+QAAAA8AAOgZAADoGQAAACIAAOgdAADoHQAAACEAAOggAADoIAAAACQAAOghAADoIQAAACMAAOgiAADoIgAAAB8AAOgjAADoIwAAACAAAOglAADoJQAAAAUAAOhhAADoYQAAAAYAAOh/AADofwAAABMAAOiLAADoiwAAABoAAOkqAADpKgAAAAgAAOk5AADpOQAAABsAAOmGAADphgAAABEAAOmSAADpkgAAABQAAOnVAADp1QAAAB4AAOokAADqJAAAAAcAAOowAADqMAAAACUAAOo/AADqPwAAABYAAOpAAADqQAAAABAAAOpBAADqQQAAABwAAOqHAADqhwAAACYAAOqvAADqrwAAABcAAOrKAADqygAAABIAAOrNAADqzQAAAB0AAOrWAADq1gAAABUAAOr1AADq9QAAAA4AAAAAAAAAJABMAHIAmADKAQwBeAGYAbgB2AH4AhgCgALeA0gDnAPUBBYEYAS8BPQFaAWWBjAGcgbGB0QHmAfgCFIIhgi6CQgJPglWCYQJ2gokAAEAAAAAA5YCVgAQAAAlASYiBwEGFBYyNwkBFjI2NAOJ/pUNIg3+lQwZIg0BTQFNDSIZ3gFrDAz+lQ0iGg0BTf6zDRoiAAAAAAEAAAAAAusDAQATAAAJASYOARYXCQEOARcWMzI3ATY1NALc/oANJBcCDgFc/qQNAgsPEQ4OAYAPAaABVQwCGyQL/sv+ywwjDQ8LAVUPERQAAQAAAAAC7AMBABEAAAkBPgEuAQcBBhQXARYzMjYmJwGAAVwNAhYkDf6ADw8BgA4OFBgCDgGAATUMIxoDDP6rDCgM/qsLHCQLAAAAAAEAAAAAA5YCVgARAAABJiIHCQEmIgYUFwEWMjcBNjQDiQ0iDf6z/rMNIhkMAWsNIg0BawwCSQwM/rMBTQwZIg3+lQ0NAWsNIgAAAAAEAAD/5QObAxsAAAAMAA0AGQAAEzcxNhcBFgcxBicBJiUXMRYHAQYnMSY3ATZmGxwcAsYcHBwc/TobAv0cHBz9OhwcGxsCxhwC4xwcHP06HBwcHALGHDgcHBz9OhwcHBwCxhwAAQAA/8ADwQNAACoAAAUiJyYnJjU0NjIWFRQXFhcWMjc2NzY0JyYnJiMiJjQ2MzIXFhcWFAcGBwYCAHlpZTw9EhwSNTNXWdBZVzM1NTNXWWgOEhIOeWllPD09PGVpQD08ZWl5DhISDmhZVzM1NTNXWdBZVzM1EhwSPTxlafJpZTw9AAAABQAA//8DggMBAAwAGAAlADsARQAABT4BNCYnBx4BFAcGByc+ATQmJwceARQGBzcUBgcnPgE0Jic3HgEnNC4BBg8BIyIGFREUFjsBFx4BPgE1AzcRJyYrATUzMgLiTVNTTS1ESSYlQi06QEA6LjI2NjEnLCktICIjHy0pLMIKEBMHl5UNExMNlZcHExAKrGxsCQuAgAsBTcjYyE0uQ7DCWVZCLTqZppk6LTKBjIEy+TlqKS4fUltRHy4pascJEAgCBnkTDf8ADRN5BgIIEAkBZ1b+hlYHwAAAAQAAAAADAQKjAA8AAAEFBi4BNRE0PgEXBR4BFAYC5v5pESUZGSURAZcMDg4BU+wKBxwUAdgUHAcK7AcYHBgAAAEAAAAAA3YCgQAOAAAlASY+ATMhMh4BBgcBBiIB0P7NEgQjGwJmEx8QBQ3+zRM6twFfFDIkFCMlDv6hFgAAAAABAAAAAALBAvYADgAAEwEWPgE1ETQuAQYHAQYU9wFfFDIkFCMlDv6hFgFQ/s0SBCMbAmYTHxAFDf7NEzoAAAAAAQAAAAADHwL2AA4AAAkBBi4BNRE0PgEWFwEWFAMJ/qEUMiQUIyUOAV8WAVD+zRIEIxsCZhMfEAUN/s0TOgAAAAEAAAAAA3YCXwAOAAAJAQYeATMhMj4BJicBJiIB0P7NEgQjGwJmEx8QBQ3+zRM6Akn+oRQyJBQjJQ4BXxYAAAADAAD/vwPsA0AAHAAyAEEAAAEGFB8BBwYUFjI/ARcWMjY0LwE3NjQmIg8BJyYiATIeARURFA4BIyEiJicBJjQ3AT4BMxUiBwkBFjMhMjY1ETQmIwF1CQmJiQkSGwmKiQkbEwqJiQoTGwmJigkbAe4iOyMjOyL+OxwzE/7KDw8BNhMzHB4T/soBNhMeAcUaJiYaAjcKGgqJiQoaEwmKigkTGgqJiQoaEwmKigkBACI7I/2AIzsiFxYBaRIwEgFpFhdAFv6W/pYWJRsCgBslAAAAA////38EAAOBABQALQA6AAAFIicmJyY0NzY3NjIXFhcWFAcGBwYHMjc+ATc2NCcuAScmIgcOAQcGFBceARcWARQOASIuATQ+ATIeAQIAemhlPD09PGVo9GhlPD09PGVoemhfXI4nKCgnjlxf0F9cjicoKCeOXF8BKDRYaFg0NFhoWDRAPTxlaPRoZTw9PTxlaPRoZTw9QCgnjlxf0F9cjicoKCeOXF/QX1yOJygCADRYNDRYaFg0NFgAAAAFAAD/gAOAA4AACwAYACUANgBIAAABIgYUFjMhMjY0JiMFNDYzITIWFAYjISImFTQ2OwEyFhQGKwEiJgEhIg4BFREUHgEzITI+ATURJRUUFjsBERQGIyEiJjURNDYzAWANExMNAUANExMN/qATDQFADRMTDf7ADRMTDYANExMNgA0TASD+oCM7IiI7IwIAIzsi/uA4KIAlG/4AGyUlGwHAExoTExoToA0TExoTE3MNExMaExMC7SI7I/0AIzsiIjsjAmDggCg4/aAbJSUbAwAbJQAAAAL///9/BAADgAAYADQAAAEUBw4BBwYiJy4BJyY0Nz4BNzYyFx4BFxYlJiIGFB8BBwYUFjI/ARcWMjY0LwE3NjQmIg8BBAAoJ45cX9BfXI4nKCgnjlxf0F9cjico/VcKGhMJqqoJExoKqakKGhMJqqoJExoKqQGAaF9cjicoKCeOXF/QX1yOJygoJ45cX28JExoKqakKGhMJqqoJExoKqakKGhMJqgAAAAL///+ABAADgAAPACMAAAEyFhURFAYjISImNRE0NjM1Ig4BFREUHgEzITI+ATURNC4BIwOAGyUlG/0AGyUlGyM7IiI7IwMAIzsiIjsjA0AlG/0AGyUlGwMAGyVAIjsj/QAjOyIiOyMDACM7IgAAAAAC////gAQAA4AAEwAnAAATIg4BFREUHgEzITI+ATURNC4BIwMWFAcBBiIvAS4BPgIWHwETPgGAIzsiIjsjAwAjOyIiOyN+Dg3/AA4pDqkKBwYTGRoJht4OKQOAIjsj/QAjOyIiOyMDACM7Iv7CDicO/sAPDqkJGhkTBgcKhgEcDgEAAAADAAD/wAQBA0AACAAcAC8AAAEUBiImNDYyFiUiDgEVERQeATMhMj4BNRE0LgEjFTIWFREnJgYPAScmBg8BETQ2MwGAOFA4OFA4/wAjOiMjOiMDACM7IiI7Ixsl8gkUCO2qChYJqSYaAiAoODhQODj4Ijsj/YAjOyIiOyMCgCM7IkAlG/5gfQQDB+5yBgIIlwJAGyUAAv///50EAQNhAB8AMwAAFwYeATclBRY+AScDNz4BJiclAy4BIgYHAwUOARYfAQMlBzc2LwElNj8BFxYXBQcGHwEnJrcCDhgMARkBGQwYDgI14QoCEA7+x4wEEBMQBYv+xg0RAgriNgE67C0DDroBBBEIdnYIEQEEug4DLewPNg4XBwaQkAYHFw4BLtcKGxYCLAEVCQoKCf7rLAIWGwrX/tGyev4TDbElAxDq6hADJbENE/56BwAAAAH///+dBAEDYwAdAAAXBi4BNxMnLgE2NyUTPgEWFxMFHgEGDwETFg4BJyXnDBgOAjbiCgIRDQE6iwcXGAaMATkOEAIK4TUCDhgM/udcBgcXDgEu1wobFgIsARUMCQkM/ussAhYbCtf+0g4XBwaQAAAD////fwQAA4EAFAAtAEoAAAUiJyYnJjQ3Njc2MhcWFxYUBwYHBgcyNz4BNzY0Jy4BJyYiBw4BBwYUFx4BFxYDNjIfATc2MhYUDwEXFhQGIi8BBwYiJjQ/AScmNAIAemhlPD09PGVo9GhlPD09PGVoemhfXI4nKCgnjlxf0F9cjicoKCeOXF9vChoKqakKGhMJqqoJExoKqakKGhMJqqoJQD08ZWj0aGU8PT08ZWj0aGU8PUAoJ45cX9BfXI4nKCgnjlxf0F9cjicoAtcJCaqqCRMaCqmpChoTCaqqCRMaCqmpChoAAAAAAv///4AEAQOBAAAAGQAAASEUFx4BFxYyNz4BNzY0Jy4BJyYiBw4BBwYCAP4AKCeOXF/QX1yOJygoJ45cX9BfXI4nKAGAaF9cjicoKCeOXF/QX1yOJygoJ45cXwAFAAD/gAQBA2IAFQAzAEQAVABlAAABISIGDwEGFREUFjMhMjY1ETQvAS4BAyIGBw4BIiYnLgErASIuAT8BPgEzITIWHwEWDgEjAyYnLgEPAQ4BHwEeAT8BPgEFJyYGDwEGFh8BFjY/ATYmNzMWNj0BNCYrASIGHQEUFjcDWP1RChAFhgQVDgO6DxQEhgQRwAwTAwpHXEgJAxMN5w0TBQZSBBEKAm4KEQRSBgUTDVUCAQgcDHgNCAgCCBwMeQ0H/jx4DRsIAwcHDXgNHAcDBwd8Aw4VFA8GDxQVDgHVCgjwCAn+4Q4VFQ4BHwkI8AgK/vMPDC06Oi0MDxAYDJwICgoInAwYEAHnAgMMCAdGBx0MBQ0HB0YHHCdFCAgMBgwcB0YHBw0FDB0dARUPiw4VFQ6LDxUBAAP//P+/BAQDQQAPABwAJQAAAS4BIgYHAQYeATMhMj4BJwEyFg8BDgEiJi8BJjYTMhYUBiImNDYCPwohJyIK/koPCigbA24cJwoO/goaIgIXARQcFAEXAiIaGyUlNSYmAxwRExMR/RUYNSQkNRgCDyYa4A4SEg7gGib+gCU2JSU2JQAAAAP///9/BAADgQAYACsANAAABTI3PgE3NjQnLgEnJiIHDgEHBhQXHgEXFhMDBjMyNjcHDgEjIj8BNiYvAT8BIiY0NjIWFAYCAGhfXI4nKCgnjlxf0F9cjicoKCeOXF+kQAgbCxgJBg02G0USLwMHDh0FVxslJTYlJYAoJ45cX9BfXI4nKCgnjlxf0F9cjicoAlr+0yIICBsQFlTeDwwDBhhYJTYlJTYlAAP///9/BAADgAAYAEoAUwAAARQHDgEHBiInLgEnJjQ3PgE3NjIXHgEXFiUzMjY3PgEyFxYVFAcGBwYHBhcVFBY7ATI2PQE0Njc2NzY3NjQnJicmIyIHBgcGBxQWEzI2NCYiBhQWBAAoJ45cX9BfXI4nKCgnjlxf0F9cjico/WA1BgoBBCxJFxoRCyIlEhYCCgY0BwkMDwocJhAZGBcoJS8sJCkYHAMJnB0kJDokJQGAaF9cjicoKCeOXF/QX1yOJygoJ45cXxYJByEnERQlHBUNGhsaISkOBwkKBgcWHQ4JFR0WIl0iHxAQDg8fIzMHCf5kITQiIjQhAAAAAAIAAP+ABAADgAAXADMAAAEmIyEiBwEGFREUFwEWMyEyNwE2NRE0JwUXNzYyFhQPARcWFAYiLwEHBiImND8BJyY0NjIC3QkN/nINCf7mCQkBGgkNAY4NCQEaCQn9YKmpChoTCaqqCRMaCqmpChoTCaqqCRMaA3cJCf7mCQ3+cg0J/uYJCQEaCQ0Bjg0JBqqqCRMaCqmpChoTCaqqCRMaCqmpChoTAAAAAAL///9/BAADgAAYACoAAAEUBw4BBwYiJy4BJyY0Nz4BNzYyFx4BFxYnJgYHAycmDgEUHwEWMjcBNjQEACgnjlxf0F9cjicoKCeOXF/QX1yOJyj+DygO3oYPJhwNqQ8oDgEADQGAaF9cjicoKCeOXF/QX1yOJygoJ45cX1oOAQ7+5IYOARwmD6kODwFADicAAAQAAAAAA4ADAAAMABkANwBHAAABMj4BNC4BIg4BFB4BNxQOASIuATQ+ATIeAQEUBwYHBg8BIScmJyYnJjU0NzY3Njc2MhcWFxYXFgc0JyYnJicmIgcGBwYHBhUCADRYNDRYaFg0NFi0IjtGOyIiO0Y7IgEACggOCgwK/YAKDAoOCAoPEyYvRlPgU0YvJhMPQAoPHCU5SchJOSUcDwoBgDRYaFg0NFhoWDTAIzsiIjtGOyIiO/3dFg8MBwUCAQECBQcMDxYeJS8mLxofHxovJi8lHhIZIx0lFRsbFSUdIxkSAAAAAAIAAP+AAmgDgQAPAB4AACUeATI2NxM0LgEjDgMXEyIOARQeATI+ATU2LgIBwwQiLiIEKRsvHBYnHQ4CZhwvGxsvOC8bAg8dJ+YWHR0WAjQbLxwBESApFv0+HC83LxwcLxsVJx0PAAAAAf//AAAEAALdAB4AAAkBBiIvAiYjIgYdARQXARYXFjMyNwE2NzU0JiMiBwOm/gATOBjmDQYQGCIWARcOFxQaMiECFxAGIRkQBgLW/jATE7AHAyEVBB0c/uAXDAomAkQVIQYYHwMAAAACAAAAAALmAwEAKgAzAAABIiY3Njc2MzIeARUUBwYHDgEdARQGKwEiJjUnJjY3PgE1NCYjIgYHDgEjEzI2NCYiBhQWAR4NEwIOPUFpR209Hh04NCYTDTEOEgECMzkyJ0Q3MEELBBMMkB4oKDspKQIjEw5VMjU1Xjs+MS0iIDYrAg0TEw0NOlEiHzkqMD0wKgwR/d0oOykpOygAAAACAAAAAAJ0AwAAFQAeAAABDwEXHgEHAwYWMzI2PwEGBwYjIiY3ExQGIiY0NjIWAm3BByYSCgQ+DCMtI0cSBwsSDw4RDQVaMUYyMkYxAfsYIAcFEBP+2zg3HRUkCwUFFxYCPiMyMkYxMQAAAAABAAAAAAOAAaAADAAAEzQ2MyEyFhQGIyEiJoATDQLADRMTDf1ADRMBgA0TExoTEwABAAAAAAOAAwAAHAAAATIWFREhMhYUBiMhERQGIiY1ESEiJjQ2MyERNDYCAA0TAUANExMN/sATGhP+wA0TEw0BQBMDABMN/sATGhP+wA0TEw0BQBMaEwFADRMAAAL/8/9/BAEDjQAgADUAACU2NzYnLgEnJgcOAQcGFx4BFxY3NjcxFh8BFjI2NC8BJjcUBwYHBiInJicmNDc2NzYyFxYXFgLwPw4NJSWjaGZjZ5ceHBUWi2RhZ2pWAwP3EjYlE/YEDTAvT1LAUk8vMDAvT1LAUk8vMOpWamdhZIsWFR0dmGZkZWmiJiQNDkAEBPYTJTYS9wP5YFJPLzAwL09SwFJPLzAwL09SAAAC////fwQAA4EAFAAtAAAFIicmJyY0NzY3NjIXFhcWFAcGBwYHMjc+ATc2NCcuAScmIgcOAQcGFBceARcWAgB6aGU8PT08ZWj0aGU8PT08ZWh6aF9cjicoKCeOXF/QX1yOJygoJ45cX0A9PGVo9GhlPD09PGVo9GhlPD1AKCeOXF/QX1yOJygoJ45cX9BfXI4nKAAAAAASAN4AAQAAAAAAAAATAAAAAQAAAAAAAQAEABMAAQAAAAAAAgAHABcAAQAAAAAAAwAEAB4AAQAAAAAABAAEACIAAQAAAAAABQALACYAAQAAAAAABgAEADEAAQAAAAAACgArADUAAQAAAAAACwATAGAAAwABBAkAAAAmAHMAAwABBAkAAQAIAJkAAwABBAkAAgAOAKEAAwABBAkAAwAIAK8AAwABBAkABAAIALcAAwABBAkABQAWAL8AAwABBAkABgAIANUAAwABBAkACgBWAN0AAwABBAkACwAmATNDcmVhdGVkIGJ5IGljb25mb250c2FyaVJlZ3VsYXJzYXJpc2FyaVZlcnNpb24gMS4wc2FyaUdlbmVyYXRlZCBieSBzdmcydHRmIGZyb20gRm9udGVsbG8gcHJvamVjdC5odHRwOi8vZm9udGVsbG8uY29tAEMAcgBlAGEAdABlAGQAIABiAHkAIABpAGMAbwBuAGYAbwBuAHQAcwBhAHIAaQBSAGUAZwB1AGwAYQByAHMAYQByAGkAcwBhAHIAaQBWAGUAcgBzAGkAbwBuACAAMQAuADAAcwBhAHIAaQBHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAHMAdgBnADIAdAB0AGYAIABmAHIAbwBtACAARgBvAG4AdABlAGwAbABvACAAcAByAG8AagBlAGMAdAAuAGgAdAB0AHAAOgAvAC8AZgBvAG4AdABlAGwAbABvAC4AYwBvAG0AAAIAAAAAAAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJwECAQMBBAEFAQYBBwEIAQkBCgELAQwBDQEOAQ8BEAERARIBEwEUARUBFgEXARgBGQEaARsBHAEdAR4BHwEgASEBIgEjASQBJQEmAScBKAACdXAFcmlnaHQEbGVmdARkb3duBWNsb3NlB2xvYWRpbmcJdm9sdW1lLXVwBHBsYXkKY2FyZXQtZG93bgpjYXJldC1sZWZ0C2NhcmV0LXJpZ2h0CGNhcmV0LXVwCWJhY2tzcGFjZQ1yZWNvcmQtY2lyY2xlBGZpbGUNeC1jaXJjbGUtZmlsbAZzcXVhcmURY2hlY2stc3F1YXJlLWZpbGwFaW1hZ2UEc3RhcglzdGFyLWZpbGwIeC1jaXJjbGULY2lyY2xlLWZpbGwFZW1wdHkMd2FybmluZy1maWxsEGluZm8tY2lyY2xlLWZpbGwUcXVlc3Rpb24tY2lyY2xlLWZpbGwOeC1vY3RhZ29uLWZpbGwRY2hlY2stY2lyY2xlLWZpbGwGcGVyc29uBGZhaWwHc3VjY2VzcwhxdWVzdGlvbgRpbmZvBW1pbnVzBHBsdXMGc2VhcmNoBmNpcmNsZQAAAAAA')
    format('truetype');
}

.sari {
  font-family: 'sari' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sari-up:before {
  content: '\e60e';
}

.sari-right:before {
  content: '\e60f';
}

.sari-left:before {
  content: '\e610';
}

.sari-down:before {
  content: '\e611';
}

.sari-close:before {
  content: '\e825';
}

.sari-loading:before {
  content: '\e861';
}

.sari-volume-up:before {
  content: '\ea24';
}

.sari-play:before {
  content: '\e92a';
}

.sari-caret-down:before {
  content: '\e72d';
}

.sari-caret-left:before {
  content: '\e732';
}

.sari-caret-right:before {
  content: '\e734';
}

.sari-caret-up:before {
  content: '\e73c';
}

.sari-backspace:before {
  content: '\e65c';
}

.sari-record-circle:before {
  content: '\eaf5';
}

.sari-file:before {
  content: '\e7f9';
}

.sari-x-circle-fill:before {
  content: '\ea40';
}

.sari-square:before {
  content: '\e986';
}

.sari-check-square-fill:before {
  content: '\eaca';
}

.sari-image:before {
  content: '\e87f';
}

.sari-star:before {
  content: '\e992';
}

.sari-star-fill:before {
  content: '\ead6';
}

.sari-x-circle:before {
  content: '\ea3f';
}

.sari-circle-fill:before {
  content: '\eaaf';
}

.sari-empty:before {
  content: '\e6a6';
}

.sari-warning-fill:before {
  content: '\e7b3';
}

.sari-info-circle-fill:before {
  content: '\e88b';
}

.sari-question-circle-fill:before {
  content: '\e939';
}

.sari-x-octagon-fill:before {
  content: '\ea41';
}

.sari-check-circle-fill:before {
  content: '\eacd';
}

.sari-person:before {
  content: '\e9d5';
}

.sari-fail:before {
  content: '\e822';
}

.sari-success:before {
  content: '\e823';
}

.sari-question:before {
  content: '\e81d';
}

.sari-info:before {
  content: '\e819';
}

.sari-minus:before {
  content: '\e821';
}

.sari-plus:before {
  content: '\e820';
}

.sari-search:before {
  content: '\ea30';
}

.sari-circle:before {
  content: '\ea87';
}
