// #variables
page {
  --sar-popover-duration: var(--sar-duration);
  --sar-popover-bg: var(--sar-emphasis-bg);
  --sar-popover-box-shadow: var(--sar-shadow-xl);
  --sar-popover-min-width: 240rpx;
  --sar-popover-border-radius: var(--sar-rounded);

  --sar-popover-dark-bg: var(--sar-gray-800);
  --sar-popover-dark-color: var(--sar-white);

  --sar-popover-arrow-size: 20rpx;
}
// #endvariables
