@use '../style/base' as *;

@include bem(radio) {
  @include b() {
    @include universal;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  @include e(icon) {
    @include universal;
    font-size: var(--sar-radio-icon-font-size);
    line-height: var(--sar-leading-none);
    color: var(--sar-radio-icon-color);
    transition: color var(--sar-radio-icon-transition-duration);

    @include m(checked) {
      color: var(--sar-radio-icon-checked-color);
    }
  }

  @include e(label) {
    @include universal;
    flex-direction: row;
    margin-left: var(--sar-radio-label-margin-left);
  }

  @include m(readonly) {
    cursor: unset;
  }

  @include m(disabled) {
    cursor: var(--sar-disabled-cursor);

    @include e(icon) {
      color: var(--sar-radio-icon-disabled-color);
    }

    @include e(label) {
      @include disabled-text;
    }
  }
}
